# Class Files #
*.class

# Package Files #
#*.jar
*.war
*.ear

# WS specific
#**/web/WEB-INF/wsdl/
#**/src/conf/xml-resources/
#**/xml-resources/
#**/src/META-INF/wsdl/

# NetBeans specific #
build/
nbbuild/
dist/
nbdist/
catalog.xml
nbactions.xml
nb-configuration.xml

**/nbproject/*
!**/nbproject/jax-ws.xml
!**/nbproject/project.properties
!**/nbproject/project.xml


